@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Roboto:wght@300&family=Zen+Dots&display=swap");

html {
  font-family: "Nunito", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Zen Dots", cursive;
  /* height: 5000px; */
}

body {
  background: #101010;
}

.nav-bar {
  background-color: #000000;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-bar img {
  height: 5vh;
}

.original-image {
  position: absolute;
  z-index: 1;
  transition: opacity 0.5s ease;
  cursor: pointer;
}

.hover-image {
  position: absolute;
  z-index: 2;
  opacity: 0;
  transition: opacity 0.5s ease;
  cursor: pointer;
}

.nav-bar:hover .original-image {
  opacity: 0;
}

.nav-bar:hover .hover-image {
  opacity: 1;
}

.wrapper {
  background: #000000;
  height: 90vh;
}

.container {
  color: whitesmoke;
  display: flex;
  width: 90%;
  margin: auto;
  height: 90vh;
}

.left-hero {
  width: 50%;
  display: flex;
}

.left-hero img {
  height: 60vh;
  margin: auto;
}

.right-hero {
  width: 50%;
}

.right-content {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(
    to right,
    #ef5350,
    #f48fb1,
    #7e57c2,
    #2196f3,
    #26c6da,
    #43a047,
    #eeff41,
    #f9a825,
    #ff5722
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.right-hero p {
  font-size: 4vh;
  line-height: 1.5;
}

.key {
  color: #6fabd0;
}

.value {
  color: #f05e16;
}

.me {
  color: #6171a9;
}

.bracket {
  color: #ffff00;
}

a,
a:visited {
  text-decoration: none;
  color: white;
}

a:hover {
  cursor: pointer;
}

/*Second Section*/
.secondSection {
  font-size: 3.5vh;
  color: whitesmoke;
  height: 7vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Third Section*/

.thirdSection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #000000;
  padding-top: 2vh;
}

.emoji {
  font-size: 15vh;
  padding: 10px 20px;
}

.check {
  text-align: center;
  margin-top: 1px;
}

.check:hover {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  cursor: pointer;
  flex: 0.3;
  transition: all 0.5s ease-in-out;
  color: white;
}

/* .check:hover::after {
  content: "I love Pizza!";
  font-size: 3vh;
  text-align: center;
  margin-bottom: 2vh;
} */

/* @-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
} */

/* @keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
} */
/*Normalization*/
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img {
  border: 0;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}
ol,
ul {
  list-style: none;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
q:before,
q:after {
  content: "";
}
abbr,
acronym {
  border: 0;
}
